header {
    height: 100px;
    width: 670px;
    margin-top: 0px;
    margin-left: 450px;
    position: relative;
    background-color: lightblue;
    font-size: 60px;
    text-align: center;
}

section {
    height: 620px;
    width: 670px;
    margin-top: 0px;
    margin-left: 450px;
    position: relative;
    background-color: grey;
}

.panel1 {
    height: 285px;
    width: 300px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: lightblue;
    position: fixed;
    text-align: center;
}

.panel2 {
    height: 285px;
    width: 300px;
    margin-left: 350px ;
    margin-top: 15px;
    background-color: lightblue;
    position: fixed;
    text-align: center;
}

.panel3 {
    height: 285px;
    width: 300px;
    margin-left: 15px;
    margin-top: 320px;
    background-color: lightblue;
    position: fixed;
    text-align: center;
}

.panel4 {
    height: 285px;
    width: 300px;
    margin-left: 350px;
    margin-top: 320px;
    background-color: lightblue;
    position: fixed;
    text-align: center;
}