@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/* Portrait */
@media screen and (orientation:portrait) {
.Orientation {property: value;}
}
/* end of Portrait */

/* Landscape */
@media screen and (orientation:landscape) {
.Orientation {property: value;}
}
/* end of Landscape */

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

header {
    width: 350px;
    height: 80px;
    background-color: black;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

body {
    background-color: black;
    height: 650px;
}

#Come {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 25px;
}

#DATAMAN {
    height: auto;
    width: auto;
}

#DATACON {
    height: 500px;
    width: auto;
    margin-top: 10px;
}

#Dataman {
    height: 300px;
    width: auto;
    margin-top: 10px;
}

section {
    color: whitesmoke;
    font-size: 20px;
}

nav {
    height: 40px;
    width: 87.5%;
    text-align: center;
    text-decoration: none;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
    
header {
    width: 500px;
    height: 100px;
    background-color: black;
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
}

body {
    background-color: black;
    height: 650px;
}

#Come {
    color: whitesmoke;
    font-size: 70px;
    margin-top: 25px;
}

#DATAMAN {
    height: auto;
    width: auto;
}
    
#DATACON {
    height: 500px;
    width: auto;
    margin-top: 10px;
}
    
#Dataman {
    height: 300px;
    width: auto;
    margin-top: 10px;
}
    
section {
    color: whitesmoke;
    font-size: 40px;
}
    
nav {
    height: 50px;
    width: 87.5%;
    text-align: center;
    text-decoration: none;
}
    
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
header {
    width: 1100px;
    height: 80px;
    background-color: black;
    color: whitesmoke;
    font-size: 60px;
    text-align: center;
}

body {
    background-color: black;
    height: 650px;
}

#Come {
    color: whitesmoke;
    position: relative;
    font-size: 30px;
    width: 500px;
    margin-top: 25px;
    margin-left: 300px;
    text-align: center;
}

#DATAMAN {
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    width: 500px;
}

#DATACON {
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    width: 500px;
    height: 500px;
}

#Dataman {
    position: relative;
    margin-left: 300px;
    margin-top: 100px;
    width: 500px;
    height: 300px;
}    
    
section {
    color: whitesmoke;
    font-size: 50px;
}

nav {
    height: 70px;
    width: 87.5%;
    text-align: center;
    text-decoration: none;
}    
    
}